body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#menu {
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 10px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: #fff;
    font-size: 13px;
    color: #404040;
    display: block;
    margin-top: 20px;
    padding: 25px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}
#menu a:hover {
    background-color: #f8f8f8;
    color: #a35a3f;
}

#menu a.active {
    background-color: #FFB69C;
    color: #803F28;
}

#menu a.active:hover {
    background: #e18467;
}

.map-overlay-container {
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    font:
            12px/20px 'Helvetica Neue',
            Arial,
            Helvetica,
            sans-serif;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}